@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
nav{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.bg-image{
  background-image: url('assets/register-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.scroll-hide::-webkit-scrollbar{
  width: 0;
}